<div class="box">
    <!-- <div class="item" id="item1">
        <input type="text" name="p-loc" id="p-loc" value="Pick-up locations">
        <input type="text" name="d-loc" id="d-loc" value="Drop-off locations">
    </div>
    <div class="item" id="item2">
        <input type="date" name="p-date" id="p-date" value="Pick-up date">
        <input type="time" name="p-time" id="p-time" value="Pick-up time">
        <input type="date" name="d-date" id="d-date" value="Drop-off date">
        <input type="time" name="d-time" id="d-time" value="Drop-off time">
    </div>
    <div class="item" id="item3">
        <input type="submit" class="btn" value="Search">
    </div> -->

    <div class="item" id="item1">
        <div class="row">
            <input type="text" name="p-loc" id="p-loc" value="Pick-up locations">
        </div>
        <div class="row row-cols-2">
            <input type="date" name="p-date" id="p-date" value="Pick-up date">
            <input type="time" name="p-time" id="p-time" value="Pick-up time">
        </div>
    </div>
    <div class="item" id="item2">
        <div class="row">
            <input type="text" name="d-loc" id="d-loc" value="Drop-off locations">
        </div>
        <div class="row row-cols-2">
            <input type="date" name="d-date" id="d-date" value="Drop-off date">
            <input type="time" name="d-time" id="d-time" value="Drop-off time">
        </div>
    </div>
    <div class="item" id="item3">
        <input type="submit" class="btn" value="Search">
    </div>
</div>