#nav {
    position: absolute;
    .nav {
        // display: flex;
        // justify-content: center;
        .nav-link {
            color: white;
        }
        .nav-link:hover {
            background-color: rgba($color: #eae2e2, $alpha: 0.4);
            border-radius: 2px;
        }
    }
}