<h1 class="headline text-center">Our Cars</h1>
<div class="row row-cols-3">
    <div *ngFor="let val of newCars">
        <div class="card" style="width: 18rem;">
            <img src="{{ val.image }}" class="card-img-top" alt="{{ val.brand }}">
            <div class="card-body">
                <h5 class="card-title">{{ val.brand }} {{ val.model }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">See more</a>
            </div>
        </div>
    </div>
</div>